uploads/
.gradle/
.idea/
build/
build.gradle
client/
gradle/
gradle.properties
gradlew
gradlew.bat
matches/
test/
version.txt
access.txt
package-lock.json
scripts/log
scripts/log.txt

src/template.zip
