uploads/
.gradle/
.idea/
build/
build.gradle
client/
gradle/
gradle.properties
gradlew
gradlew.bat
matches/
test/
version.txt
access.txt
package-lock.json
scripts/log
scripts/log.txt

src/*_nolog
src/puremuck

src/*.zip
src/template.zip

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.DS_Store
.gitattributes
BattleCode21.iml
